.banner {
    position: fixed;
    left: 0;
    top: 0;
}

.banner-background {
    width: 100dvw;
    height: 3rem;
    position: absolute;
    background-color: rgb(100, 150, 255);
}

.banner-left {
    position: relative;
}

.banner-right {
    position: relative;
}

.banner-left h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    transform: translate(0.75rem, 0.75rem);
}